.venv/
__pycache__/
.ipynb_checkpoints/
.hf/
*.pyc
*.pyo
*.pyd
.env
*.pdf
*.png
.env
*.ipynb
runs/**/*.json
runs/**/*.jsonl
runs/**/*.npz
data/**/*.json
data/**/*.jsonl
experiments/**/*.json
experiments/**/*.jsonl
experiments/**/*.npz
experiments/**/*.npy
experiments/**/*.pt
experiments/**/*.log
